.table{
    width: 100%;
    align-items: center;
    justify-content: flex;
    text-align: center;
}

.container{
    margin-top: 50px;
}

.form-select{
    margin-bottom: 50px;
    width: 50%;
    height: 46px;
    border-radius: 8px;
}